
			

			.ls-layer h1, .ls-layer h2, .ls-layer h3, .ls-layer h4, .ls-layer h5, .ls-layer h6 { font-weight:400;}
			.ls-layer h2 { font-weight:300; font-size:49px;}
			.ls-layer h1 {text-transform:uppercase; line-height:56px; font-weight:bold;}
			.ls-layer h4 { border:1px solid #444; border-width:1px 0; padding:16px 0; margin:40px 0;}
			.ls-layer h3 { color:#128abc; }
			.ls-layer p { line-height:26px; }

			.l1-s1s {
				height: 110px;
				color: white;
				background: #0093d0;
				opacity: .74;
				filter: alpha(opacity=70);
				width: 650px;
				text-align: center;
			}
			
			.l2-s1s {
				color: white;
				background: #0093d0;
				opacity: .69;
				filter: alpha(opacity=60); 
				white-space: nowrap;
				left:0;
			}
			h1.l2-s1s { background:#ff9900; opacity: .76; filter: alpha(opacity=70); }
			
			.l3-s1 {
				width:440px;
				padding-bottom:12px;
				color: black;
				background: white;
				opacity: .59;
				box-shadow: 0px 4px 10px -5px black;

			}
			
			@media screen and (max-width: 1024px) {
			
			.ls-layer h1, .ls-layer h3 { left:0; margin-left:100px;}
			
			}